.top-putters .highcharts-root text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: normal !important;
}

.top-putters .highcharts-background {
    fill: transparent;
  }
  
  .top-putters .highcharts-xaxis-grid .highcharts-grid-line {
    display: none;
  }
  
  .top-putters .highcharts-yaxis-grid .highcharts-grid-line {
    display: none;
  }
  
  .top-putters .highcharts-xaxis .highcharts-tick {
    display: none;
  }
  
  .top-putters .highcharts-minor-grid-line {
    display: none;
  }

  .top-putters .highcharts-data-label {
    color: orange;
    text-shadow: none;
  }

  .top-putters .putter-label-text {
    font-size: 1.1em;
    fill: #ffffff;
  }
  
  .top-putters .putter-label .highcharts-text-outline {
    display: none;
  }
/*
  .top-putters .highcharts-data-label-box {
    stroke: gray;
    stroke-width: 1px;
  }
  
  .top-putters .highcharts-data-label {
    font-weight: normal;
  }
  
  .top-putters .highlight .highcharts-data-label-box {
    fill: red;
    stroke-width: 2px;
    stroke: black;
  }
  
  .top-putters .highlight.highcharts-data-label text {
    font-weight: bold;
    fill: white;
  }
  
  .top-putters .highcharts-title {
    display: none;
  }
  
  .top-putters .highcharts-axis-labels {
  }*/