.app {
    width: 100%;
    height: 100%;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-columns: minmax(100px, auto);
}

.app nav {
    grid-row: 1;
    position: relative;
    background-color: #191B1F;
    background: linear-gradient(318deg, #7f332c, #045d56);
    background-size: 400% 400%;
    animation: AnimationName 20s ease infinite;
}

.app-icon {
    display: inline-block;
    margin-right: 5px;
    padding-top: 2px;
}

.header-and-links {
    margin: 0;
    display: grid;
    grid-auto-columns: auto 1fr;
}

.header-and-links .header {
    color: #fff;
    padding: 0 15px;
    grid-column: 1;
}

.header-and-links h3 {
    text-transform: uppercase;
    margin: 10px 0;
}

.app main {
    grid-row: 2;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.grid-container {
    height: 100%;
    width: 100%;
}

.stats-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr 0fr 0.7fr;
    grid-gap: 8px;
    grid-template-rows: 0.7fr minmax(190px, 200px) 1fr;
}

@media (min-width: 1200px) {
    .stats-container {
        font-size: 1.2em;
    }
}

.stats-container>.widget {
    overflow: auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 1px #e6e6e6;
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.widget-padding {
    padding: 8px;
}

.stats-container>.widget.totalPuts {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: hidden;
}

.stats-container>.widget.totalPuts .label {
    grid-row: 1;
    text-align: center;
}

.widget.totalPuts p.description {
    font-variant: small-caps;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    opacity: 0.5;
}

.widget.totalPuts span.value {
    font-size: 2em;
    display: inline-block;
}

.widget-header {
    font-variant: small-caps;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    opacity: 0.5;
    margin: 8px;
    font-size: 0.8em;
}

.stats-container>.widget.totalPuts .content {
    grid-row: 2;
    min-width: 0;
    min-height: 0;
}

.stats-container>.widget.latestPuts {
    grid-column: 2;
    grid-row: 1;
}

.stats-container>.widget.monthlyWinners {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.stats-container>.widget.monthlyWinners .widget-content {
    display: flex;
    flex-direction: row;
}

.stats-container>.widget.records {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    grid-auto-rows: min-content 1fr;
}

.stats-container>.widget.trend-chart {
    grid-column: 1 / span 4;
    grid-row: 3;
}

.monthly-winner-month-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    padding: 5px;
}

.monthly-winner-month-container:not(:first-child):not(:last-child) {
    border-left: 1px solid #ddd;
}

.monthly-winner-month-container:nth-of-type(odd) {
    /*background-color: #eee;*/
}

.monthly-winner-month-container>.header {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-variant: small-caps;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    opacity: 0.5;
    font-size: 1.2em;
}

.monthly-winner-month-container>.header>span.ongoing {
    font-style: italic;
    color: #045d56;
}

.monthly-winner-month-container>.podium {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9em;
}

.monthly-winner-month-container>.podium>.name {
    text-align: center;
    padding: 2px;
    min-width: 3cm;
    flex-grow: 1;
}

.monthly-winner-month-container>.podium>.scoreSum {
    text-align: center;
    font-size: 1.2em;
    padding: 2px;
}

.monthly-winner-month-container>.podium>.scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.monthly-winner-month-container>.podium.gold {
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
}

.monthly-winner-month-container>.podium.silver {
    grid-column: 2;
    grid-row: 2;
    opacity: 0.7;
}

.monthly-winner-month-container>.podium.bronze {
    grid-column: 3;
    grid-row: 2;
    opacity: 0.5;
}

.scoreBullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    margin: 1px;
    color: #ffffff;
}

.scoreBullet.large {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.scoreBullet.large span {
    font-size: 1em;
}

.score-bullet-list {
    display: flex;
    flex-direction: row;
}

.put-grid {
    border-collapse: collapse;
}

.put-grid thead {
    border-bottom: 2px solid #16BAB8;
}

.put-grid th.month {
    min-width: 200px;
}

.put-grid th.today {
    background-color: lightyellow;
}

.put-grid thead th.head-day-cell {
    width: 35px;
    min-width: 35px;
}

.put-grid tbody tr {
    height: 35px;
}

.put-grid tbody td {
    text-align: center;
}

.put-grid>tbody>tr>* {
    border: 1px solid #ddd;
}

.put-grid tr:hover,
.put-grid td.crosshair,
.put-grid th.crosshair {
    background-color: #eee;
}

.put-grid tbody td:hover {
    outline: 2px solid #16BAB8;
}

.score-bullet-flow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    zoom: 0.7;
}

.grid-score-popup {
    padding: 0 10px;
    padding-bottom: 10px;
}

.score-bullet-with-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-bullet-with-text span {
    padding-bottom: 2px;
}

.score-cell {
    pointer-events: none;
}

.put-grid tbody th {
    text-align: left;
    font-weight: normal;
}

.put-grid thead th.red-day {
    color: red;
}

.nav-links {
    display: flex;
    grid-column: 2;
    align-items: center;
    font-size: 0.8em;
    justify-content: flex-end;
    background: linear-gradient(90deg, #ffffff00 65%, #333333);
}

.nav-links a {
    position: relative;
    text-transform: uppercase;
    text-decoration-line: none !important;
    font-size: 0.8em;
    color: #AEAEB0;
}

.nav-links span {
    padding: 10px;
}

.nav-links a.active,
.nav-links a:hover {
    font-weight: bold;
    color: #fff;
}

.text {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    line-height: 24px;
    min-width: 100px;
    background: #333;
    font-size: 20px;
    color: #fff;
}

.put-point-buttons {
    display: flex;
}

.put-point-buttons button:hover>* {
    zoom: 1.5;
}

.put-calendar-header {
    min-width: 80px;
    display: inline-block;
}

.compact-line-chart {
    width: 100% !important;
    height: 100% !important;
}

.records-table {}

.records-table tr:nth-child(even) {
    background: #eee;
}

.records-table tr {
    margin: 5px;
}

.records-table tr th {
    text-align: left;
    font-variant-caps: all-small-caps;
}

.records-table td.value {
    text-align: right;
}

.records-table td.when {
    font-variant-caps: all-small-caps;
}

.widget:hover .widget-toolbar {
    opacity: 1;
}

.widget-toolbar {
    background-color: #f3f3f3;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 0 2px;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    padding: 5px;
    transition: opacity .2s ease-in-out;
    text-align: right;
    z-index: 100000;
}

.widget-toolbar-zoom {
    zoom: 0.6;
}

.widget .widget-header {
    grid-row: 1;
}

.widget .widget-header p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.widget .widget-content {
    grid-row: 2;
    overflow: auto;
    visibility: hidden;
    transition: visibility 0.2s;
}

.widget .widget-content-scrollbox {
    display: flex;
    width: 100%;
    height: 100%;
}

.widget .widget-content-scrollbox,
.widget .widget-content:hover,
.widget .widget-content:focus {
    visibility: visible;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.latest-put-list {
    display: flex;
    flex-direction: column;
}

.latest-put-item {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content 1fr;
}

.latest-put-item:not(:first-child):not(:last-child) {
    margin-top: 4px;
    margin-bottom: 4px;
}

.latest-put-item .putter {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: flex-end;
}

.latest-put-item .date {
    grid-row: 2;
    grid-column: 2;
    font-variant: small-caps;
    font-variant-caps: all-petite-caps;
    font-size: 0.9em;
    opacity: 0.5;
}

.latest-put-item .score {
    grid-row: 1 / span 2;
    grid-column: 1;
    padding: 5px;
    padding-right: 8px;
    font-weight: 500;
}

.records-list {
    display: flex;
    flex-direction: column;
}

.records-item {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    margin: 4px;
    grid-gap: 2px;
}

.records-item .what {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-variant-caps: all-small-caps;
    font-size: 1.1em;
}

.records-item .value {
    grid-column: 1;
    grid-row: 2 / span 2;
    color: #045d56;
    font-size: 2em;
    font-weight: 500;
    min-width: 60px;
    text-align: right;
}

.records-item .who {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-self: center;
    margin-left: 6px;
}

.records-item .when {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-self: center;
    margin-left: 6px;
    font-variant-caps: all-small-caps;
    opacity: 0.5;
}

.records-item .how {
    grid-column: 2 / span 2;
    grid-row: 3;
    margin-left: 6px;
}

.fa-margin-right {
    margin-right: 5px;
}