@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.app {
  width: 100%;
  height: 100%;
}

.app {
  border: 2px solid yellow;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-columns: minmax(100px, auto);
}

.app nav {
background: lightgray;
grid-row: 1;
}

.app main {
grid-row: 2;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.stats-container > .widget {
  border: 1px dashed red;
  overflow: auto;
}

.stats-container > .header {
  grid-column: 1 / 2;
  grid-row: 1;
}

.stats-container > .widget.totalPuts {
  grid-column: 1;
  grid-row: 2;
}

.stats-container > .widget.latestPuts {
  grid-column: 2;
  grid-row: 2;
}

.stats-container > .widget.monthlyWinners {
  grid-column: 1 / 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
}

.stats-container > .widget.records {
  grid-column: 2;
  grid-row: 3;
}

.monthly-winner-month-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  border: 1px solid #ddd;
  padding: 5px;
}

.monthly-winner-month-container:nth-of-type(odd) {
  background-color: #eee;
}

.monthly-winner-month-container > .header {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}

.monthly-winner-month-container > .header >span.ongoing {
  font-style: italic;
}

.monthly-winner-month-container > .podium {
  padding: 5px;
}

.monthly-winner-month-container > .podium > .name {
  white-space: nowrap;
  text-align: center;
  padding: 2px;
}

.monthly-winner-month-container > .podium > .scoreSum {
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
}

.monthly-winner-month-container > .podium > .scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.monthly-winner-month-container > .podium.gold {
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
}

.monthly-winner-month-container > .podium.silver {
  grid-column: 2;
  grid-row: 2;
  opacity: 0.7;
}

.monthly-winner-month-container > .podium.bronze {
  grid-column: 3;
  grid-row: 2;
  opacity: 0.5;
}

.scoreBullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: gray;
  margin: 1px;
}
